.page_content{
    background-size: cover; /* Ajusta según sea necesario */
    background-position: center; /* Ajusta según sea necesario */
    background-repeat: no-repeat; /* Ajusta según sea necesario */
    position: relative;
}